<html>

	<head>
		SUNAT ALFATIH
	</head>

  <body>
  	   <nav class="navbar">
  	   	
  	   </nav>

  	   <!-- header --> 
  	   <header class="jumbotron">
  	   	

  	   </header>
    
    <!-- service --> 
    <section id="services">
    	
    </section>

    <!-- product --> 
     <section id="product">
    	
    </section>

    <!-- about --> 
     <section id="about">
    	
    </section>

    <!-- kontak --> 
     <section id="contact">
    	
    </section>

    <!-- footer --> 
    <footer>
    	
    </footer>

  </body>
</html>